
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Get the styling --}}
    <link rel="stylesheet" type="text/css" href="/css/style.css">


    {{!-- Javascript to run before the page loads --}}
    <script type="text/javascript" src="/js/page_load_pre.js" ></script>

    {{!-- Javascript to run after the page loads --}}
    <script defer type="text/javascript" src="/js/page_load_post.js" ></script>

    {{!-- 
    
    Load Specific JS for the page given from index.js

     --}}
    {{#each js_files}}
        <script defer type="text/javascript" src={{this}} ></script>
    {{/each}}

    <title>{{title}}</title>
</head>
<body>
    <div id="body-container" class="div-standard">
        <div id="body-container-header">
            {{> header}}
        </div>
        <div id="body-container-body" class="div-standard">
            {{!-- {{#if (emptyObjectHelper messages)}}
                {{> flash-message}}
            {{/if}} --}}
            {{{body}}}
        </div>
        <div id="body-container-footer" >
            {{> footer}}
        </div>
    </div>
</body>
</html>