<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/main_style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="javascripts/home.js" defer></script>
    <title>Home</title>
</head>

<body>
    <header>
        <div class="header__div">
            <h1 class="header__h1">Home Header</h1>
            <div id="count-size" ></div>
        </div>
    </header>
    <div id="data">

    </div>

</body>

</html>