{{!-- New Home page stuff --}}
<div class="div-content-spaced-fair">
    <div id="home-cards">
        {{> home-cards}}
    </div>
</div>


{{!-- Old home page stuff --}}
{{!-- <div id="count-size"></div>
<div class="div-spaced-fair">
    <div id="home-cards">
    </div>
</div> --}}


