{{!-- New Home page stuff --}}
<div class="div-spaced-fair">
    <div id="home-images">
        {{> cards}}
    </div>
</div>


{{!-- Old home page stuff --}}
<div id="count-size"></div>
<div class="div-spaced-fair">
    <div id="home-images">
    </div>
</div>


