<div class="div-container-content-parent">
    <form action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
        <fieldset>
            <legend>Login to your account</legend>
            <label> Username: </label>
            <input type="text" name="username" required />
            <br />
            <label> Password: </label>
            <input type="password" name="password" required />
            <br />
            <button type="submit">Login</button>
        </fieldset>
    </form>
</div>
