<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main_style.css">
    <title>Login</title>
</head>

<body>
    <header>
        <div class="header__div">
            <h1 class="header__h1">Login Header</h1>
        </div>
    </header>
    <div class="center">
        <form>
            <fieldset>
                <legend>Login to your account</legend>
                <label> Username: </label>
                <input type="text" name="username" required />
                <br />
                <label> Password: </label>
                <input type="password" name="password" required />
                <br />
                <button type="submit">Login</button>
            </fieldset>
        </form>
    </div>
</body>

</html>