<div class="div-container-content-parent">
    <form id="userForm" action="/users/register" method="POST", enctype="application/x-www-form-urlencoded">
        <fieldset>
            <legend>Register</legend>
            <label> Username: </label>
            <input type="text" required name="username" id="registration-username" required />
            <div id="registration-username-validation">
                <p id="begins-with-character"></p>
                <p id="at-least-3-alphanumeric"></p>
            </div>
            <br />
            <label> Email: </label>
            <input type="email" required name="email" id="registration-email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$" required />
            <div id="registration-email-validation">
                <p id="valid-email"></p>
            </div>
            <br />
            <label> Password: </label>
            <input type="password" required name="password-1" id="registration-password-1" required />
            <div id="registration-password-validation">
                <p id="at-least-8-or-more-characters"></p>
                <p id="at-least-1-upper"></p>
                <p id="at-least-1-number"></p>
                <p id="at-least-1-special-character"></p>
            </div>
            <br />
            <label> Confirm Password: </label>
            <input type="password" required name="password-2" id="registration-password-2" required />
            <div id="registration-password-confirmed-validation">
                <p id="matching-password"></p>
            </div>
            <br />
            <label> I am 13+: </label>
            <input type="checkbox" id="checkbox-age" required name="checkbox-age" value="13+" id="checkbox-age" required />
            <br />
            <a href="">TOS and Privacy Rules </a>
            <br />
            <label> Agree to TOS and Privacy Rules: </label>
            <input type="checkbox" id="checkbox-tos" required name="checkbox-tos" value="tos" id="checkbox-tos" required />
            <br />
            <button type="submit">Register</button>
        </fieldset>
    </form>
</div>
