/* 
Work Sans
Notes:
    font-family: 'Work Sans', sans-serif;

Reference:
    https://fonts.google.com/specimen/Work+Sans
*/
/* @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600'); */

/* 
Inter typeface
    font-family: 'Inter', sans-serif;

Reference:
    https://rsms.me/inter/ 

*/
@import url('https://rsms.me/inter/inter.css');
/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
} */

html {
  font-size: 62.5%;
  /* height: 100%; */
  /* margin: 0; */
  height: 100%;

  
}





body {
  /* font-size: 62.5%; */
  /* min-height: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* min-height: 100%; */


  /* grid-template-rows: 1fr auto; */

  font-family: 'Inter', sans-serif;

  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#body-container {
  background: grey;
  /* background-image: linear-gradient(black, grey); */
    /*Don't use flex it will overlap*/
  /* display: grid;  */
  /* height: 100%; */
  /* padding: 20px; */

  margin: 0 auto -50px;

  /* position: relative; */
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#body-container-header{
    /* position: absolute; */
    /* top: 0; */
    /* height: 100%; */

}
#body-container-body{
    /* height: 100%; */

}
#body-container-footer{
    bottom: 0;
    width: 100%;
    margin-top: auto;

}
.div-container-content-parent{
    /* background: white; */
    display: grid; /*Don't use flex it will overlap*/
    justify-content: center;
    align-items: center;
    /* height: 85vh; */  /* Don't use use*/
    height: 100%;
}

.div-container-content {
    padding: 25px;
}

.div-standard{
    width: 100%;
    /* height: 100%; */
}
.div-content-spaced-fair{
    /* height: 100%; */
    margin: 5px;
  }









/* Navbar stuff */

header {
  display: flex;

  color: white;
  background: black;

  /* width: 100%; */
  /* height: 100px; */

  justify-content: flex-end;
  align-items: center;

  margin: 0;
  padding: 0;
}
header > li, a, button{
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

header > ul{
  margin: 0;

  /* TODO: CHANGE MY VALUE TO SOMETHING COOLER */
  padding: 10px;
}

.header-title {
  /* font-size: 4em; */

  margin: 0;
  margin-right: auto;

  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;

}
.logo{
  font-style: italic;
  padding: 10px;
  margin: 0;
  margin-right: auto;

  font-size: 4em;
  font-weight: 600;
}

.nav-links{
  list-style: none;

}

.nav-links li{
  /* Side by side */
  display: inline-block;
  padding: 0px 80px;

}

.nav-links li a{
  transition: all 0.3s eas 0s;
}

.nav-links li a:hover{
  color: red;
}


.div-search{
    background: #0b7dda;
    margin-right: auto;
}
.div-search button {

    margin-right: auto;
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.div-search input {
    margin-right: auto;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

  
#count-size > p{
  margin: 0px;
}

#count-size {
  text-align: right;
  font-size: 20px;
  margin-right: 50px;
}
























#registration-form{
    padding-top: 10px;
    padding-bottom: 10px;
}

fieldset{
}

form {
  font-size: 2em;
}

form > fieldset {
  border-radius: 5px;
  border: 0;
  background: #f1f7ff;
}
form > fieldset > legend {
  font-size: 2em;
  font-weight: 600;
}
form > fieldset > label {
  font-family: inherit;
  font-size: inherit;
  display: block;
  padding-top: 25px;
  padding-bottom: 5px;
}
form > fieldset > input {
  font-family: inherit;
  font-size: inherit;
  display: block;
  padding: 10px;
  padding-right: 200px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border: 0;
  border-radius: inherit;
}
form > fieldset > input[type="checkbox"] {
  width: 1em;
  height: 1em;
}
form > fieldset > input[type="file"] {
  box-shadow: 0 0;
}

form > fieldset > textarea {
  font-family: inherit;
  font-size: inherit;
  display: block;
  padding-right: 200px;
  padding-bottom: 100px;
}

form > fieldset > button {
  font-family: inherit;
  font-size: inherit;
  color: white;
  background-color: black;
  cursor: pointer;
  font-weight: 400;
  outline: 0;
  border: 0;
  /* border-radius: inherit;  */
  padding: 5px 30px;

  /* Center */
  margin-top: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}













.post-container-parent {
  background: #dae9f0;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  margin: 0;
  font-size: 2em;
}

.post-content-header {
  margin: 0;
  padding: 0;
}

.post-content-header-title {
  font-size: 3em;
  margin: inherit;
  padding: inherit;
}
.post-content-header-author {
  margin: inherit;
  padding: inherit;
}
.post-content-header-date {
  margin: inherit;
  padding: inherit;
}
.post-container-body-media {
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
.post-content-body-media {
  max-width: 100%;
  max-height: 100%;
}

.post-container-body {
    max-width: 100%;
    max-height: 100%;
}





/* 
Home page for loading the images and stuff

*/

@media(min-width:1000px){
  /* For smaller screen stuff with min width */
}
#home-cards{
  /* 
  Reference:
    Flexbox CSS In 20 Minutes
      https://www.youtube.com/watch?v=JJSoEo8JSnc

      
  */
  height: 100%;

  /* Display using flex */
  display: flex;

  /* Wrap so it fits the screen */
  flex-wrap: wrap;

  /* flex-direction: column; */
  /* justify-content: flex-end; */
}









.card-container-parent{
  /* 
  TODO: figure out way to auto resize card-image and its container
  
  */
  width: auto;
  /* width: 30%; */
  /* float: left; */
  /* float: left; */
  /* width:  100px; */
  /* height: 100px; */
  /* object-fit: cover; */
  /* flex-basis: 27%; */
}

.card-container-body-media{

}

.card-content-body-media{
  /* width: 30%; */
  /* width: 30%; */
  /* height: 30%; */
}
.card-container-body{

}
.card-content-title{

}
.card-content-date-created{
    
}
.card-content-author{

}

.card-content-description{

}






#body-container-footer{
}

footer{
    grid-row-start: 2;
    grid-row-end: 3;

    margin: 0;
    padding: 0;

    font-size: 20px;
    color: white;
    background-color: black;
    
}
footer p {
    margin: 0;
    padding: 50px;
}

footer p{
  font-size: 16px;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;

}

.copyright{
  font-size: 9px;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}


/* Handlerbars stuff */

#flash-message-container{
    text-align: center;
    font-size: 20px;
    position: fixed;
    left: 50%;
    top: 5%;
    transform:  translate(-50%, 0);
}
#flash-message{

}
.flash-success{
    background-color: #43AC6A;
    border-color: #368a55;
    color: #FFFFFF; 
    padding: 3px;
    padding: 10px;
    border-radius: 50px;


}

.flash-error{
    background-color: #f04124;
    border-color: #cf2a0e;
    color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;

}

.flash-notify{
    background-color: #24b6f0;
    border-color: #0e62cf;
    color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;

}