<header>
    {{!-- 


    Reference:
        Navbar CSS Tutorial: 3 Ways to Create a Navigation Bar with Flexbox
            https://www.youtube.com/watch?v=PwWHL3RyQgk
        
        
    --}}
    {{!-- <h1 class="header-title"></h1> --}}
    <a class="logo" href="home">{{title}}</a>
    <ul class="nav-links">
        <li><a href="home">Home</a></li>
        <li><a href="registration">Registration</a></li>
        {{#if session_logged}}
            <li><a href="users/logout">Log out</a></li>
        {{else}}
            <li><a href="login">Log in</a></li>
        {{/if}}
        <li><a href="postimage">Post image</a></li>
        <li><a href="imagepost">Image Post</a></li>

    </ul>
    {{!-- <p>
        GARBAGE TESTING
    </p> --}}
</header>