<header>
    {{!--


    Reference:
        Navbar CSS Tutorial: 3 Ways to Create a Navigation Bar with Flexbox
            https://www.youtube.com/watch?v=PwWHL3RyQgk

        CSC 317 Term Project Log out
            https://www.youtube.com/watch?v=4yXePB7QLo0&feature=youtu.bes

    --}}
    {{!-- <h1 class="header-title"></h1> --}}
    <a class="logo" href="/">Deep Dark Fantasies</a>
    <ul class="nav-links">
        {{!-- <li><a href="home">Home</a></li> --}}

        <div class="div-search">
            <input id="search-text" name="div-input-search-text" type="text">
            <button id="search-button"><i class="fa fa-search"></i></button>
        </div>

        {{!-- If logged in --}}
        {{#if session_logged}}
            <li><a id="link-post-image" href="/post-image">Post image</a></li>
            <li><a id="link-username" href="/">Welcome {{session_username}}</a></li>
            <li><a id="link-logout" >Log out</a></li> {{!-- No href because JS should handle that in --}}

        {{!-- If Logged out --}}
        {{else}}
            <li><a id="link-registration" href="/registration">Registration</a></li>
            <li><a id="link-login" href="/login">Log in</a></li>
        {{/if}}

        {{!-- <li><a href="imagepost">Image Post</a></li> --}}

    </ul>
    {{!-- <p>
        GARBAGE TESTING
    </p> --}}
</header>