<header>
    {{!--


    Reference:
    Navbar CSS Tutorial: 3 Ways to Create a Navigation Bar with Flexbox
    https://www.youtube.com/watch?v=PwWHL3RyQgk

    CSC 317 Term Project Log out
    https://www.youtube.com/watch?v=4yXePB7QLo0&feature=youtu.be

    --}}
    {{!-- <h1 class="header-title"></h1> --}}
    <a class="logo" href="home">{{title}}</a>
    <ul class="nav-links">
        {{!-- <li><a href="home">Home</a></li> --}}

        {{!-- If logged in --}}
        {{#if session_logged}}
            <li><a id="link-post-image" href="postimage">Post image</a></li>
            <li><a id="link-username" href="home">Welcome {{session_username}}</a></li>
            <li><a id="link-logout" href="/">Log out</a></li>

            <script>
                let element = document.getElementById("link-logout");
                if (element) {
                    element.onclick = (value) => {
                        fetch(
                            "/users/logout",
                            {
                                method: "POST"
                            }
                        ).then((data) => {
                            location.replace("/");
                        })
                    };
                };
            </script>

        {{!-- If Logged out --}}
        {{else}}
            <li><a id="link-registration" href="registration">Registration</a></li>
            <li><a id="link-login" href="login">Log in</a></li>
        {{/if}}

        {{!-- <li><a href="imagepost">Image Post</a></li> --}}

    </ul>
    {{!-- <p>
        GARBAGE TESTING
    </p> --}}
</header>